---
import Layout from '../layouts/Layout.astro';
---

<!--TODO: COMPONETIZAR? -->
<Layout title='Mamparas Hadrian'>
    <section class="bg-white dark:bg-gray-900" id="nosotros">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
            <div class="font-light text-gray-700 sm:text-lg dark:text-gray-400">
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Transformando Espacios con Mamparas Hadrian</h2>
                <p class="mb-4">En Mamparas Hadrian, combinamos diseño innovador y funcionalidad para ofrecer mamparas de la más alta calidad. Nuestro compromiso es brindar soluciones que se adapten a tus necesidades, mejorando la estética y eficiencia de tus espacios.</p>
                <p>Con años de experiencia en el mercado, somos tu mejor opción para la adquisición de mamparas. Nuestro equipo de expertos está listo para asesorarte y ayudarte a encontrar la solución perfecta para tu proyecto.</p>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-8">
                <img class="w-full rounded-lg" src="../../images/foto-1.jpg" alt="office content 1">
                <img class="mt-4 w-full lg:mt-10 rounded-lg" src="../../images/foto-2.jpg" alt="office content 2">
            </div>
        </div>
    </section>
</Layout>

