---
---

<!--TODO:RESPONSIVE, HOME DEPOT ZOBELE LOGO -->
<section class="brands mt-[20px] xl:mt-[30px] relative text-center bg-gray-200">
    <span class="font-semibold text-gray-400 uppercase">EMPRESAS ASOCIADAS</span>
        <div class="container mx-auto mt-6 lg:mt-0">
            <div class="flex flex-col xl:flex-row lg:flex-row justify-between items-center gap-12">
                <img src="../../images/brands/coca-cola.svg" alt="Coca-Cola Logo">
                <img src="../../images/brands/hd-logo.svg" alt="Home-Depot Logo">
                <img src="../../images/brands/ford-logo.svg" alt="Ford Logo">
                <img src="../../images/brands/mg-logo.svg" alt="Morris Garages Logo">
                <img src="../../images/brands/zobele-logo.svg" alt="Zobele Logo">
            </div>
        </div>
</section>