---
interface Props {
	title: string;
	description: string;
}

import Footer from '../components/Footer.astro';
import Jumbotron from '../components/Jumbotron.astro';
import Header from '../components/Header.astro';
import Brands from '../components/Brands.astro';
import Contacto from '../components/Contacto.astro';
import Mapa from '../components/Mapa.astro';

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
		<meta name="robots" content="noindex">
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Jumbotron />
		<slot />
		<Brands />
		<Contacto />
		<Mapa />
		<Footer />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	
</style>
